site_name: TuGraph课程
site_url: https://tugraph-contrib.github.io/tugraph-course
repo_url: https://github.com/TuGraph-contrib/tugraph-course
repo_name: TuGraph-contrib/tugraph-course
edit_uri: edit/dev/docs/
docs_dir: docs/
site_dir: site
copyright: Copyright © 2025 TuGraph
plugins:
  - search
nav:
  - 首页: index.md
  - MiniGU:
    - 项目介绍: minigu/introduction.md
    - 快速上手: minigu/quick-start.md
    - 设计文档: minigu/design.md
    - Rust语言基础: minigu/rust.md
    - 实验指南:
      - Lab 0 - 环境搭建: minigu/labs/lab0.md
      - Lab 1 - 图存储实验: minigu/labs/lab1.md
      - Lab 2 - 图查询实验: minigu/labs/lab2.md
    - 附录: minigu/appendix.md
  - TuGraph-DB:
    - TuGraph介绍: tugraph/tugraph.md
  - Geaflow:
    - GeaFlow 完整介绍: geaflow/geaflow.md
  - Graph+AI:
    - Chat2Graph介绍: graphai/chat2graph.md
  - 关于: 
    - Roadmap: about/roadmap.md
    - 贡献指南: about/contributing.md


theme:
  name: material
  # custom_dir: overrides
  language: zh
  features:
    - search.highlight
    - navigation.sections
    - navigation.path
    - navigation.top
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.footer
    - toc.follow
    - content.code.copy
    - content.action.edit
  logo: assets/white-logo.jpg
  # favicon: assets/white-logo.jpg
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

extra_css:
  - assets/extra.css

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/TuGraph-contrib/tugraph-course
    - icon: fontawesome/solid/globe
      link: https://tugraph.tech

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
      block_tag: 'pre'
